@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
	background-color: white;
}

#content{
	display: grid;
	grid-template-columns: 100%;
}


.bottom {
	background-color: #1A1861;
	color: white;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 37px;
	line-height: 43px;
	line-height: 100%;
	letter-spacing: -0.02em;
	font-family: Roboto;
	
}

.bottom img {
	display: inline-block;
	height: 250px;
	width: 220px;
	padding: 0px 20px 20px;
	object-fit: cover;

}
@media (min-width: 700px) { 
	.bottom img {
	height: 500px;
	width: 400px;
	}
}


.Home {
	color: red;
	font-family: Roboto;
	font-style: italic;
	font-weight: bold;
	font-size: 25px;
	
	text-align: center;
	letter-spacing: -0.02em;
	vertical-align: top;
}


.Middle {
	text-align: center;
	font-size: 23px; 
	font-family: Roboto;
	line-height: 22px;
	line-height: 82%;
	text-align: center;
	letter-spacing: -0.02em; 
}

.Button {
	background-color: #DEEFFF;
	border-radius: 4px;
	font-size: 17px;
}

#grid1 {
	display:grid; 
	grid-template-columns: 50% 50%;
	background-color: #1A1861;
}

.nav-right {
	display: flex;
	flex-direction: row-reverse;
}

#grid2 {
	display:grid; 
	grid-template-columns: 50% 50%;
	background-color: #CADAEC;
}

.sub_main {
	font-family: Roboto;
	font-size: 16px;
	line-height: 19px;
	color: black;
}





